
mat-card {
  margin: 3rem 0;

  h4 {
    font-weight: bold;
    margin: 10px 0 20px;
  }

  h5 {
    color: rgb(109, 109, 109);
    font-style: italic;
    text-decoration: underline;
  }
}
img {
  margin-bottom: 30px;
  max-width:100%; 
  height:auto
}