.example-spacer {
  flex: 1 1 auto;
}

span {
  cursor: pointer;
}

mat-toolbar {
  // min-height: 50px;
  // height: 50px;
  position: fixed;
  z-index: 10;
  display: flex;
  justify-content: center;
  top: 0;
}
