mat-card {
  margin: 3rem 0;

  .column {
    display: flex;
    flex-direction: column;

    h4 {
      margin-bottom: 20px;
    }
  }

  .myrow {
    display: flex;
    mat-form-field {
      width: 100%;
      // justify-content: space-between;
    }
  }
}
